.page-9-container{
    padding: 20px 0px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.page-9-container h2{
    font-size: 2.5rem;
    letter-spacing: 0.7px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}
.page-9-container iframe{
        z-index: 1!important;
        height: 80vh;
    width: 58vw;
    border-radius: 20px;
    filter: drop-shadow(3px 3px 15px rgb(83, 83, 83));
}
.page-9-videos-container{
    margin: 30px 0px;
    height: max-content;
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-shrink: 0;
    align-items: center;
}
.page-9-videos-container div{
    height: max-content;
    padding: 0px 0px;
    width: max-content;
}
.page-9-videos-container div img{
    height: 180px;
    width: 250px;
    border-radius: 20px;
    object-fit:cover;
    margin: 5px 0px;
}

@media (max-width: 576px) {
    .page-9-container{
        padding: 20px 0px;
        height: max-content;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .page-9-container h2{
        padding: 0px 10px;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.7px;
        font-weight: 400;
        font-family:Arial, Helvetica, sans-serif;
    }
    .page-9-container iframe{
        z-index: 1!important;
        height: 40vh;
        width: 90%!important;
        border-radius: 20px;
        filter: drop-shadow(3px 3px 15px rgb(83, 83, 83));
    }
    .page-9-videos-container{
        margin: 0px 0px;
        height: max-content;
        width: 85%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-shrink: 0;
        align-items: center;
    }
    .page-9-videos-container div{
        height: 150px;
        padding: 0px 0px;
        width: max-content;
    }
    .page-9-videos-container div h3{
        font-size: 0.8rem;
    }
    .page-9-videos-container div p{
        font-size: 0.7rem;
    }
    .page-9-videos-container div img{
        height: 70px;
        width: 100px;
        border-radius: 20px;
        object-fit:cover;
        margin: 5px 0px;
    }    
}

@media (max-width: 1200px) and (min-width:580px) {
    .page-9-container{
        padding: 20px 0px;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .page-9-container h2{
        font-size: 2.5rem;
        letter-spacing: 0.7px;
        font-weight: 400;
        font-family:Arial, Helvetica, sans-serif;
    }
    .page-9-container iframe{
            z-index: 1!important;
            height: 40vh;
        width: 58vw;
        border-radius: 20px;
        filter: drop-shadow(3px 3px 15px rgb(83, 83, 83));
    }
    .page-9-videos-container{
        margin: 30px 0px;
        height: max-content;
        width: 60%;
        overflow: scroll;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-shrink: 0;
        align-items: center;
    }
    .page-9-videos-container div{
        height: max-content;
        padding: 0px 0px;
        flex-shrink: 0.5;
        width: max-content;
    }
    .page-9-videos-container div img{
        height: 130px;
        width: 190px;
        border-radius: 20px;
        object-fit:cover;
        margin: 5px 0px;
    }
    
}