.home-section-two{
    /* height: 640px; */
    height: 90vh;
    padding: 100px ;
    background-color: #a0c3d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-section-two .text-content-page2{
    position: relative;
    width: 460px;
}
.home-section-two .text-content-page2 img{
    opacity: 0;
    right: 20px;
    position: absolute;
    transition: all 1000ms linear;
}
.animate-image-emoji{
    position: absolute;
    right: 20px;
    opacity: 1!important;
}
.text-content-page2 h2{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 1px;
}
.text-content-page2 p{
    margin: 25px 0px 0px 0px;
    font-weight: 400;
    font-size: 20px;
}
.home-section-two .packet-images{
    margin: 60px 120px 0px 0px;
    position: relative;
    height: 280px;
}
.home-section-two .packet-images img{
    height: 260px;
    width: 290px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 3;
}
.animate-image{
    z-index: 1!important;
    position: absolute;
    transition: all 260ms linear;
    bottom: 0px;
    right: 0px;
    transform: rotate(0deg);
}
#animate-image1{    
    bottom: 80px!important;
    right: 120px!important;
    transform: rotate(-20deg);
}
#animate-image2{
    bottom: 80px!important;
    right: -120px!important;
    transform: rotate(20deg);
}