.home-section-4{
    background-color: #fef4eb;
    height: 115vh;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-4-box-1{
    height: 640px;
    width: 630px;
    margin: 0px 40px;
    position: relative;
    display: flex;
}
.section-4-box-1 img:nth-child(1){
    height: 240px;
    position: absolute;
    z-index: 2;
}
.section-4-box-1 img:nth-child(2){
    height: 580px!important;
    width: 580px!important;
    object-fit: cover;
    position: absolute;
    top: 89px;
    left: 65px;
}
.section-4-box-2{
    padding: 30px 0px 0px 50px;
    height: 350px;
    width: 550px;
    background-color: rgb(202, 193, 193);
    position: relative;
    box-shadow:  5px 15px 5px rgb(228, 228, 228);
}
.section-4-box-2 p{
    font-size: 2.7rem;
    line-height: 4.6rem;
    color: #444444; 
    font-family: 'Times New Roman', Times, serif;
}
.section-4-box-2 a{
    box-sizing: border-box;
    height: 4rem;
    color: rgb(34, 34, 34);
    width: 9rem;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 7px;
    text-align: center;
    padding: 6px 20px;
    background-color: rgb(240, 240, 193);
    text-decoration: none;
    position: absolute;
    bottom: -5px;
}
.section-4-box-2 img{
    height: 200px;
    position: absolute;
    bottom: -140px;
    right: -100px;
    z-index: 2;
}




@media (max-width:576px) {
    .home-section-4{
        background-color: #fef4eb;
        height: max-content;
        padding: 40px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .home-section-4 img{
        width: 290px!important;
        height: 260px!important;
        z-index: 2;
    }
    .section-4-box-2{
        padding: 10px 30px 0px 40px;
        height: 180px;
        width: 250px;
        background-color: rgb(221, 211, 211);
        box-shadow:  5px 15px 5px rgb(228, 228, 228);
        z-index: 3!important;
        position: relative;
        top: -20px;
    }
    .section-4-box-2 p{
        font-size: 1.4rem;
        line-height: 2.9rem;
        color: #3d3d3d; 
        font-family: 'Times New Roman', Times, serif;
    }
    .section-4-box-2 a{
        box-sizing: border-box;
        height: 2.6rem;
        color: rgb(113, 155, 202);
        width: max-content;
        font-size: 1.1rem;
        font-weight: 500;
        border-radius: 7px;
        text-align: center;
        padding: 6px 20px;
        background-color: rgb(240, 240, 193);
        text-decoration: none;
        position: absolute;
        bottom: 20px;
        left: 60px;
    }
    .section-4-box-2 img{
        height: 200px;
        position: absolute;
        bottom: -140px;
        right: -100px;
        z-index: 2;
    }
    

}